.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  color: #fff;
  font-size: 14px;
  z-index: 100;

  .swiper-pagination-bullet {
    background-color: #fff !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #763d36 !important;
  }

  @media (max-width: 475px) {
    display: none;
  }
}
